textarea {
    resize: none !important;
    font-size: large !important;
    font-family: "Roboto", sans-serif;
}

.ChooseTrainer {
    left: 0;
    right: 0;
    position: absolute;
    margin-left: auto;
    margin-right: 100px;
    overflow-y: scroll;
    background-color: lightblue;
    border: 3px solid white;
    width: 400px;
    height: 600px;
    padding: 0px 20px 20px 20px;

    vertical-align: middle;
}

.ChooseTrainer button {
    cursor: pointer;
}

.ChooseTrainer td {
    padding: 10px;
}
.ChooseTrainer th {
    text-align: center;
    vertical-align: middle;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: lightblue;
}

.ChooseTrainer td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.ChooseTrainer td:last-child {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.ChooseTrainer tbody > tr:nth-child(even) {
    border-radius: 20px;
    background-color: #adffff;
}
.ChooseTrainer tbody > tr:nth-child(odd) {
    border-radius: 20px;
    background-color: lightskyblue;
}

.ChooseTrainer table {
    table-layout: fixed;
    width: 100%;
    margin: auto;
    border-spacing: 0;
}

.ChooseTrainer tbody > tr:hover {
    background-color: grey;
    box-shadow: 1px 1px 8px grey;
}

tbody tr.selectedTrainerClass {
    background: green !important;
    box-shadow: 1px 1px 8px green !important;
}
