body {
    font-size: large;
    display: grid;
    place-items: center;
    background-image: linear-gradient(to left, #191654, #43c6ac);
    font-family: Helvetica;
    text-align: center;
}
ul {
    list-style-type: none;
}

img {
    border-radius: 20px;
}

input[type="number"] {
    width: fit-content;
}
input[type="checkbox"] {
    cursor: pointer;
}
select {
    cursor: pointer;
    font-size: large;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to top, #191654, #43c6ac);
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
    border-radius: 100px;
}

input {
    font-size: large;
    height: 30px;
    text-align: center;
    border-radius: 15px;
    border: 2px solid #191654;
}

input::placeholder {
    color: rgb(151, 151, 151);
}
input:focus::placeholder {
    color: transparent;
}

button {
    padding: 5px 10px;
    border-radius: 15px;
    background-color: #191654;
    color: white;
    font-size: large;
}

.checkbox {
    accent-color: #191654;
}
a:hover {
    cursor: pointer;
}
button:hover {
    background-color: #43c6ac;
    cursor: pointer;
}

#firstPage {
    width: 100%;
    height: 100%;
}

#nav {
    border-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
    list-style: none;
    font-weight: bold;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    background-color: #191654;
}

#nav:after {
    content: "";
    clear: both;
    display: table;
}

#nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
}

#nav li {
    margin: 0px;
}

#nav li a {
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    float: right;
}

#nav li a:hover {
    color: #ffffff;
    background-color: #43c6ac;
}
