.TabelaKorisnika {
    overflow-y: scroll;
    background-color: lightblue;
    margin: auto;
    border: 3px solid white;
    width: 1300px;
    height: 700px;
    padding: 0px 20px 20px 20px;
}

.tableForKorisnici {
    width: 100%;
    height: 700px;
    text-align: center;
    vertical-align: middle;
    margin: auto;
}

.TabelaKorisnika button {
    cursor: pointer;
}

.TabelaKorisnika td {
    padding: 10px;
    width: 10%;
}
.TabelaKorisnika th {
    text-align: center;
    vertical-align: middle;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: lightblue;
}

.TabelaKorisnika td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.TabelaKorisnika td:last-child {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.TabelaKorisnika tbody > tr:nth-child(even) {
    border-radius: 20px;
    background-color: #adffff;
}
.TabelaKorisnika tbody > tr:nth-child(odd) {
    border-radius: 20px;
    background-color: lightskyblue;
}

.TabelaKorisnika table {
    table-layout: fixed;
    width: 100%;
    margin: auto;
    border-spacing: 0;
}

.TabelaKorisnika tbody > tr:hover {
    background-color: grey;
    box-shadow: 1px 1px 8px grey;
}
