#mapShowCreate {
    margin: 15px;
    width: 500px;
    height: 500px;

    border: 2px solid black;
}

#logoFile {
    border-radius: 0px;
    border: none;
}

.ChooseLocation {
    position: absolute;
    margin-left: 10%;
    background-color: lightcyan;
    width: fit-content;
    height: fit-content;
    text-align: center;
    border-style: solid;
    border: 2px solid black;
}

.ChooseManager {
    position: absolute;
    margin-right: 10%;
    margin-left: auto;
    left: 0;
    right: 0;
    border-radius: 20px 0px 0px 20px;
    overflow-y: scroll;
    background-color: lightcyan;
    width: 500px;
    height: 250px;
    padding: 15px !important;
    border-style: solid;
    border: 2px solid black;
}
