#mapShowCreate {
    margin: 15px;
    width: 500px;
    height: 500px;
}

#logoFile {
    border-radius: 0px;
    border: none;
}

.tableForNapraviObjekat {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    margin: auto;
    table-layout: fixed;
}
.ChooseLocation {
    background-color: lightblue;
    width: fit-content;
    height: fit-content;
    text-align: center;
    border-style: solid;
    margin: auto;
    border: 3px solid white;
}

.ChooseManager {
    overflow-y: scroll;
    background-color: lightblue;
    border: 3px solid white;
    width: 400px;
    padding: 0px 20px 20px 20px;
    height: 200px;
    text-align: center;
    vertical-align: middle;
    margin: auto;
}

.ChooseManager button {
    cursor: pointer;
}

.ChooseManager td {
    padding: 10px;
    width: 10%;
}
.ChooseManager th {
    text-align: center;
    vertical-align: middle;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: lightblue;
}

.ChooseManager td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.ChooseManager td:last-child {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.ChooseManager tbody > tr:nth-child(even) {
    border-radius: 20px;
    background-color: #adffff;
}
.ChooseManager tbody > tr:nth-child(odd) {
    border-radius: 20px;
    background-color: lightskyblue;
}

.ChooseManager table {
    table-layout: fixed;
    width: 100%;
    margin: auto;
    border-spacing: 0;
}

.ChooseManager tbody > tr:hover {
    background-color: grey;
    box-shadow: 1px 1px 8px grey;
    cursor: pointer;
}

tbody tr.selectedManagerClass {
    background: green !important;
    box-shadow: 1px 1px 8px green !important;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}
.custom-file-input::before {
    content: "Izaberite sliku";
    display: inline-block;
    cursor: pointer;
}
