.prostorZatabelu {
    position: absolute;
    margin-left: auto;
    margin-right: 100px;
    left: 0;
    right: 0;

    border-radius: 20px 0px 0px 20px;
    overflow-y: scroll;
    background-color: lightcyan;
    width: 800px;
    height: 700px;
    padding: 15px !important;
    border-style: solid;
    border: 2px solid black;
}
.prostorZatabelu tr {
    cursor: pointer;
}
.prostorZatabelu ul {
    list-style-type: none;
}

.prostorZatabelu tbody > tr:nth-child(even) {
    border-radius: 20px;
    background-color: lightblue;
}
.prostorZatabelu tbody > tr:nth-child(odd) {
    border-radius: 20px;
    background-color: lightgray;
}

.prostorZatabelu table {
    width: 100%;
    margin: auto;
    border-spacing: 0;
}

.prostorZatabelu td:nth-child(odd) {
    border-radius: 20px 0 0 20px;
    padding: 10px 0px 10px 10px;
}

.prostorZatabelu td:nth-child(even) {
    text-align: left;

    border-radius: 0px 20px 20px 0px;
    padding: 10px 10px 10px 0px;
}

.prostorZatabelu tbody > tr:hover {
    background-color: #43c6ac;
}

.pretragaFiltriranjeSortiranje {
    color: white;
    position: absolute;
    margin-left: 100px;
    margin-right: auto;
    text-align: center;
    border-radius: 0px 20px 20px 0px;
    background-color: #191654;
    width: 500px;
    height: 700px;
    border-style: solid;
    padding: 15px !important;
    border: 2px solid black;
}

.optionsWrapper {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: 1px solid white;
    width: fit-content;
    border-style: solid;
    padding: 10px;
}
