.LogoLocation {
    text-align: left;
    width: fit-content;
    height: fit-content;
    margin-left: 100px;
}

#mapShow {
    width: 500px;
    height: 500px;
    margin-top: 30px;
}

.infoAndTranings {
    font-size: large;
    max-height: 300px;
    height: 150px;
    width: 1100px;
    border-radius: 20px 20px 20px 20px;
    background-color: lightcyan;
    position: absolute;
    left: 0;
    right: 0;
    margin-right: 100px;
    margin-left: auto;
    text-align: center;
}

.infoAndTranings table {
    width: 100%;
    height: 100%;
}

.FacilityActivityTable {
    margin-top: 30px;
    border-radius: 20px 0px 0px 20px;
    overflow-y: scroll;
    background-color: lightcyan;
    width: 100%;
    height: 800px;
    border-style: solid;
    border: 2px solid black;
}
