<!DOCTYPE html>
<html>
    <head>
        <style>
            table,
            th,
            td {
                border: 1px solid black;
            }
        </style>
        <title>Document</title>
    </head>
    <body>
        <div class="WholeScreen">
            <h1>Napravi sportski objekat</h1>
            <table>
                <td>
                    <div class="ChooseLocation">
                        <p>Odabri lokacije:</p>
                        <div class="mapClass" id="mapShowCreate"></div>
                        <p>Gegrafska dužina i širina:</p>
                        <p>{{lonShow}},{{latShow}}</p>
                        <p>Ulica i broj: {{street}} {{streetNumber}}</p>
                        <p>Grad i poštanski broj: {{city}} {{postCode}}</p>
                    </div>
                </td>
                <td>
                    <p>Naziv:</p>

                    <input
                        type="text"
                        name="name"
                        id="name"
                        placeholder="Naziv"
                        v-model="name"
                    />

                    <p>Tip objekta:</p>
                    <input
                        v-model="facilityType"
                        type="text"
                        name="facilityType"
                        id="facilityType"
                        placeholder="Tip objekta"
                    />
                    <p>Početak radnog vremena:</p>
                    <input
                        type="time"
                        name="workStart"
                        id="workStart"
                        v-model="workStart"
                    />
                    <p>Kraj radnog vremena:</p>
                    <input
                        type="time"
                        name="workEnd"
                        id="workEnd"
                        v-model="workEnd"
                    />

                    <p>
                        Izabrani menadžer: {{selectedManager.name}}
                        {{selectedManager.surname}} -
                        {{selectedManager.username}}
                    </p>
                    <p>Izaberite logo:</p>

                    <input
                        type="file"
                        name="logoFile"
                        id="logoFile"
                        accept="image/*"
                        @change="handleFileUpload"
                        title=" GAS"
                    />

                    <p>
                        <button v-on:click="CreateSportFacility">
                            Kreiraj
                        </button>
                    </p>
                    <p>
                        <img
                            v-bind:src="logoFile"
                            height="200px"
                            width="200px"
                        />
                    </p>

                    <p>{{allEntered}}</p>
                </td>
                <td>
                    <div class="ChooseManager">
                        <table>
                            <th>ID</th>
                            <th>Ime</th>
                            <th>Prezime</th>
                            <th>Korisničko ime</th>
                            <tbody>
                                <tr
                                    v-for="AM in availableManagers"
                                    v-on:click="selectM(AM)"
                                    v-bind:class="{selectedManagerClass : selectedManager.id===AM.id}"
                                >
                                    <td>{{AM.id}}</td>
                                    <td>{{AM.name}}</td>
                                    <td>{{AM.surname}}</td>
                                    <td>{{AM.username}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="FastRegsitration">
                        <p>Korisničko ime:</p>
                        <input
                            required
                            v-model="usernameManager"
                            type="text"
                            name="usernameManager"
                            id="usernameManager"
                            placeholder="Korisničko ime"
                        />

                        <p>Lozinka:</p>
                        <input
                            required
                            v-model="passwordManager"
                            type="password"
                            name="passwordManager"
                            id="passwordManager"
                            placeholder="Lozinka"
                        />

                        <p
                            style="
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            "
                        >
                            <input
                                class="checkbox"
                                type="checkbox"
                                id="showPassword"
                                onclick="myFunction() "
                            />

                            <label for="checkbox"> Prikaz lozinke </label>
                        </p>

                        <p>Ime:</p>

                        <input
                            v-model="nameManager"
                            type="text"
                            name="nameManager"
                            id="nameManager"
                            placeholder="Ime"
                            required
                        />

                        <p>Prezime:</p>
                        <input
                            required
                            v-model="surnameManager"
                            type="text"
                            name="surnameManager"
                            id="surnameManager"
                            placeholder="Prezime"
                        />

                        <p>Pol:</p>
                        <select
                            name="gender"
                            id="gender"
                            v-model="genderManager"
                        >
                            <option selected="selected" value="male">
                                Muški
                            </option>
                            <option value="female">Ženski</option>
                        </select>

                        <p>Datum rođenja:</p>
                        <input
                            type="date"
                            value="1900-01-01"
                            v-model="dateOfBirthManager"
                            name="dateOfBirthManager"
                            id="dateOfBirthManager"
                        />
                        <br />
                        <br />
                        <button v-on:click="RegisterManager">
                            Registruj se
                        </button>

                        <p v-if="!allDataEnteredManager">
                            Niste uneli sve podatke za menadžera
                        </p>
                        <p v-if="managerExist">
                            Već postoji menadžer sa ovim korisničkim imenom
                        </p>
                    </div>
                </td>
            </table>
        </div>
    </body>
</html>
