<!DOCTYPE html>
<html lang="en">
    <head>
        <title>FITPASS</title>
        <link rel="icon" type="image/x-icon" href="Images/Logo.png" />
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.14.1/css/ol.css"
            type="text/css"
        />
        <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.14.1/build/ol.js"></script>

        <link rel="stylesheet" href="css/index.css" type="text/css" />
        <link rel="stylesheet" href="css/spinner.css" type="text/css" />
        <link rel="stylesheet" href="css/navBar.css" type="text/css" />
        <link rel="stylesheet" href="css/pocetna.css" type="text/css" />
        <link
            rel="stylesheet"
            href="css/facilityOrActivityTableStyle.css"
            type="text/css"
        />
        <link rel="stylesheet" href="css/userTableStyle.css" type="text/css" />
        <link
            rel="stylesheet"
            href="css/prijaviKupcaNaAktivnost.css"
            type="text/css"
        />

        <link rel="stylesheet" href="css/korisnici.css" type="text/css" />
        <link rel="stylesheet" href="css/pregledObjekta.css" type="text/css" />
        <link rel="stylesheet" href="css/promoKod.css" type="text/css" />
        <link rel="stylesheet" href="css/komentari.css" type="text/css" />
        <link rel="stylesheet" href="css/napraviObjekat.css" type="text/css" />
        <link rel="stylesheet" href="css/dodajAktivnost.css" type="text/css" />
        <link rel="stylesheet" href="css/treneriIkupci.css" type="text/css" />
        <link rel="stylesheet" href="css/izmeniAktivnost.css" type="text/css" />
        <link
            rel="stylesheet"
            href="css/istorijaAktivnostiUObjektu.css"
            type="text/css"
        />
        <link
            rel="stylesheet"
            href="css/zakazaneAktivnostiUObjektu.css"
            type="text/css"
        />
    </head>

    <body>
        <div id="firstPage">
            <div id="nav" class="nav">
                <ul>
                    <li>
                        <a style="float: left" href="#/pocetna">Početna </a>
                    </li>

                    <li>
                        <a
                            style="float: left"
                            v-if="loggedInUser.role=='customer'"
                            href="#/"
                            >Treninzi</a
                        >
                    </li>

                    <li>
                        <a
                            style="float: left"
                            v-if="loggedInUser.role=='customer'"
                            href="#/"
                            >Članarina</a
                        >
                    </li>

                    <li>
                        <a
                            style="float: left"
                            v-if="loggedInUser.role=='trainer'"
                            href="#/"
                            >Treninzi</a
                        >
                    </li>

                    <li>
                        <a
                            style="float: left"
                            v-if="loggedInUser.role=='manager'"
                            v-on:click="goToPersonalSP(loggedInUser.facilityId)"
                            >Moj sportski objekat</a
                        >
                    </li>

                    <li>
                        <a
                            style="float: left"
                            v-if="loggedInUser.role=='admin'"
                            href="#/korisnici"
                            >Korisnici</a
                        >
                    </li>

                    <li>
                        <a
                            style="float: left"
                            v-if="loggedInUser.role=='admin'"
                            href="#/promoKod"
                            >Promo kod</a
                        >
                    </li>
                    <li>
                        <a
                            style="float: left"
                            v-if="loggedInUser.role=='admin'"
                            href="#/komentari"
                            >Komentari</a
                        >
                    </li>

                    <li>
                        <a v-if="status=='loggedIn'" v-on:click="logout"
                            >Odjavi se</a
                        >
                    </li>
                    <li>
                        <a
                            v-if="status=='loggedIn'"
                            v-on:click="goToProfile(loggedInUser.username)"
                        >
                            {{loggedInUser.username}}</a
                        >
                    </li>
                    <li>
                        <a v-if="status=='notLoggedIn'" href="#/registracija"
                            >Registruj se</a
                        >
                    </li>
                    <li>
                        <a v-if="status=='notLoggedIn'" href="#/prijava"
                            >Prijavi se</a
                        >
                    </li>
                </ul>
            </div>

            <router-view :key="$route.fullPath"></router-view>
        </div>

        <script src="js/vue.js"></script>
        <script src="js/vue-router.js"></script>
        <script src="js/axios.js"></script>
        <script src="js/jquery.min.js"></script>
        <script src="js/toast.js"></script>

        <script src="AdminVue/korisnici.js"></script>
        <script src="AdminVue/registruj.js"></script>
        <script src="AdminVue/napraviObjekat.js"></script>
        <script src="AdminVue/promoKod.js"></script>
        <script src="AdminVue/komentari.js"></script>

        <script src="ManagerVue/dodajAktivnost.js"></script>
        <script src="ManagerVue/treneriIkupci.js"></script>
        <script src="ManagerVue/izmeniAktivnost.js"></script>
        <script src="ManagerVue/istorijaAktivnostiUObjektu.js"></script>
        <script src="ManagerVue/prijaviKupcaNaAktivnost.js"></script>

        <script src="jsRazno/prikazLozinke.js"></script>

        <script src="app/pregledObjekta.js"></script>
        <script src="app/registracija.js"></script>
        <script src="app/pregledProfila.js"></script>
        <script src="app/prijava.js"></script>
        <script src="app/pocetna.js"></script>

        <script src="app/app.js"></script>
    </body>
</html>
