body {
    text-align: center;
    display: grid;
    place-items: center;
    background-image: linear-gradient(to left, #191654, #43c6ac);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #191654;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #43c6ac;
}
