input {
    font-size: large;
    height: 30px;
    text-align: center;
    border-radius: 15px;
    border: 2px solid #191654;
}

input::placeholder {
    color: rgb(151, 151, 151);
}
input:focus::placeholder {
    color: transparent;
}

button {
    font-size: large;
    border-radius: 15px;
    background-color: #191654;
    color: white;
}

table tr td:nth-child(2) {
    text-align: right;
}

table tr td:nth-child(1) {
    text-align: left;
}

.buttons {
    width: 100%;
}

.checkbox {
    accent-color: #191654;
}
button:hover {
    background-color: #43c6ac;
}
img {
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
